<div class="page-title">
    <h4>Categories</h4>
    <button class="waves-effect waves-light btn grey darken-1" routerLink="/categories/new">
        Add category
    </button>
</div>

<div class="row" *ngIf="categories$ | async as categories; else loader">  <!-- here we can see that if we have data we will put it in categories, if not - we will show loader -->
    <div class="col s12">
        <div class="collection" *ngIf="categories.length !== 0; else empty">
           <a *ngFor="let category of categories" [routerLink]="['/categories', category._id]" class="collection-item">{{category.name}}</a>
        </div>
        
    </div>
</div>

<ng-template #loader>
    <app-loader ></app-loader>
</ng-template>

<ng-template #empty>
    <p class="center light">You have no categories now, please add</p>
</ng-template>