<div class="auth-block">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Sign up</span>
            <div class="input-field">
                <input FormControlName="email" id="email" type="email" >
                <label for="email">Email:</label>
            </div>
            <div class="input-field">
                <input FormControlName="password"  id="password" type="password" >
                <label for="password">Password:</label>
            </div>
        </div>
        <div class="card-action">
            <button  class="modal-action btn waves-effect">Sign up</button>
        </div>
    </div>
</div>
